.color-blue-primary {
  color: $mat-primary;

}
.color-blue {
  color: $mat-blue;

}
.color-dark {
  color: $mat-dark;
}
.color-light-white {
  color: $mat-white-8;

}
.color-white {
  color: $mat-white-4;

}
.color-leaf {
  color: $mat-teal;

}
.color-red {
  color: $mat-red;
}
.color-red-contrast {
  color: $mat-danger;
}

.color-burgundy{
  color: $mat-burgundy;
}


.color-pink {
  color: $mat-pink;
}
.color-gray-light {
  color: $mat-secondary;
}
.color-gray {
  color: $mat-gray;
}
.color-charcol{
  color: $mat-charcol;
}
.color-gray-dark {
  color: $mat-gray-dark;
}
