.apply-padding-a1r {
  padding: 1rem;
}
.apply-padding-a2r {
  padding: 2rem;
}
.apply-padding-a4p {
  padding: 4px;
}
.apply-padding-a8p {
  padding: 8px;
}
.pad-top-bot-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.pad-left-right-1 {
  padding-left: 4px;
  padding-right: 4px;
}

.pad-left-right-2 {
  padding-left: 8px;
  padding-right: 8px;
}
.pad-left-right-3 {
  padding-left: 12px;
  padding-right: 12px;
}
