// ? measurement vars
$global-width: 400px;
$global-height: 512px;

// * border widths
$mat-border-light: 1px;
$mat-border-thin: 2px;
$mat-border-medium: 3px;


// * lighten percent
$light-percent: 12%;

// * color var
$mat-cyan: #0dcaf0;
$mat-info: #0dcaf0;
$mat-blue: #0d6efd;
$mat-primary: #0d6efd;
$mat-blue-cobalt: #0C47A1;
$mat-blue-sap: #0f52ba;
$mat-blue-klein: #002fa7;
$mat-blue-midnight: #003366;
$mat-blue-persian: #003153;
$mat-indigo: #6610f2;
$mat-purple: #6f42c1;
$mat-pink: #d63384;
$mat-red: #dc3545;
$mat-danger: #dc3545;
$mat-burgundy: #BC3425;
$mat-orange: #fd7e14;
$mat-yellow: #ffc107;
$mat-green: #198754;
$mat-teal: #20c997;
$mat-light: #f8f9fa;
$mat-white-1: #fff;
$mat-white-2: #ebe5d0;
$mat-white-3: #eaf4fc;
$mat-white-4: #f1f9ec;
$mat-white-5: #edf2f8;
$mat-white-6: #f1eee4;
$mat-white-7: #f4f5f0;
$mat-white-8: #edf1fe;
$mat-white-9: #eeebe3;
$mat-white-10: #f7f7f7;
$mat-white-11: #e9edf6;
$mat-white-12: #f1f2ee;
$mat-white-13: #eeeeff;
$mat-white-15: #f8f8ff;
$mat-white-16: #ecf3f9;
$mat-ash-gray: #bdbdbd;
$mat-ash-dark: #9e9e9e;
$mat-gray: #6c757d;
$mat-gray-dark: #343a40;
$mat-secondary: #6c757d;
$mat-dark1: #282C35FF;
$mat-charcol: #36454f;
$mat-ashy-dark:  #343434;
$mat-dark: #212529;
$mat-dark2: #16161d;
$mat-success: #198754;
$mat-warning: #ffc107;

